doctype html
html
head
title= title
link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel="stylesheet")
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
script(src="/javascripts/view.index.js")
body
block content
#login
div.top
   form.form-horizontal(method="post", id="loginForm")
      label Username
      div.content
        input.span3(id="username", type="text", name="User", placeholder="Enter your username")
      label Password
      div.content
        input.span3(id="password", type="password", name="Password")
      div.content
        input.btn(href="#", id="loginInput", type="submit", value="Log In")
div.container
    div.content
      table.table.table-striped
        thead
          tr
            th Table
            th Heading
        tbody
          tr
            td Blah
            td Test
          tr
            td Hello
            td World
 
div.footer